{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not IE < 11",
            "not operamini all"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}