{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 0.5%", "IE 11"],
        "uglify": true
      },
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers"
  ]
}